In [22]:
import pandas as pd
import numpy as np
import math

In [23]:
user = 'https://raw.githubusercontent.com/Nedu/RecommenderSystemTeamJava/master/data/users.csv'
userData = pd.read_csv(user)
userData

,id,name,username,email,image,provider,provider_id,password,remember_token,created_at,updated_at,short_bio
0,1,Eniayomi Oluwaseyi,eniayomi,oluwaseyieniayomi@gmail.com,/storage/oluwaseyieniayomi/images//5lxMjdbOVca...,google,100892238782850407484,NaN,79kIhqDiWzqx1i3eFpGMpxfLdPVIvSfv8A3vN2PNEl4ig9...,2019-08-01 16:57:22,2019-08-01 16:57:22,Software Developer | DevOPs Engineer
1,2,Elijah Okokon,DMatrix,okoelijah@gmail.com,/storage/2/images//DB7axhFJpFUzPuCNPRMQ6X1iNwb...,google,105584000674868760138,NaN,Rz08FtDtdyAp8Cm5XJq5XumgZhEqytSu5MxxyHZYlHBhd0...,2019-08-01 17:05:58,2019-08-01 17:05:58,Web Developer
2,3,Jeffrey Ogah,jeff.ogah,jeff.ogah@gmail.com,https://lh3.googleusercontent.com/-FQgpN5l_UoY...,google,101235103722282698796,NaN,ZxNMYG05B6RQuSWaJlqlc8bGbPyFxNGNnNf5D86biFix4G...,2019-08-01 19:55:39,2019-08-01 19:55:39,Front End Developer | React Developer | Mentor...
3,4,Oluwaseyi Oluwapelumi,nathan,nathanoluwaseyi@gmail.com,/storage/4/images/thumbnail/TLWSEBK7C-UMECCGUP...,google,107233455544779563919,NaN,uxbOXr4Cw8tJyilWDKQRhi7TjiV7gBzjMnX0cb4i3ndFu6...,2019-08-02 15:52:47,2019-08-02 15:52:47,| Software Developer | DevOps Engineer | @linu...
4,5,PoRH,lamar,paulchibiukeigweze@gmail.com,/storage/5/images/thumbnail/images (2)_small_1...,google,103431607062264005570,NaN,EeCB77oXHo3zdZgYTVhWlw2EyHkTtLSJb2PjWFF9RuG7H1...,2019-08-03 10:33:51,2019-08-03 10:33:51,I Am lamar and you don't think am real?
...,...,...,...,...,...,...,...,...,...,...,...,...
2288,2293,Nana Aisha MURTALA,namraji95,namraji95@gmail.com,https://lh6.googleusercontent.com/-TOTpKBJLftk...,google,102237769822370866526,NaN,KHGbj9iH5GVX4XFPAX0xwLWUqjBOvOX79WPCr7o88BIaWw...,2019-08-27 15:41:27,2019-08-27 15:41:27,NaN
2289,2294,Samuel Effiong,samueleffiong80,samueleffiong80@gmail.com,https://lh5.googleusercontent.com/-Qyjj7ZxoZiM...,google,107038710712842756970,NaN,sCScLXUsxmvGOFdyTZC6fFvCDm1ajvluWMyWfsLrSyhhFp...,2019-08-27 15:47:31,2019-08-27 15:47:31,A web developer enthusiasts. Looking forward t...
2290,2295,Lord Collins,collinslord50,collinslord50@gmail.com,https://lh3.googleusercontent.com/a-/AAuE7mBVY...,google,116535645653718333559,NaN,DdViON7jrZgSwk33D6Zy43Rub9Wbms6sD17u488NWhK19e...,2019-08-27 16:01:58,2019-08-27 16:01:58,NaN
2291,2296,Adeleke Azeez,delekeazzy1,delekeazzy1@gmail.com,https://lh4.googleusercontent.com/-jRdGFYvzql8...,google,103315181925728818155,NaN,vmHv852tBt9OEcN524uwr4V77Q2MWe90BCfuIWqMitmFK0...,2019-08-27 16:18:02,2019-08-27 16:18:02,NaN
2292,2297,Owie Prince,owieprince,owieprince@gmail.com,https://lh3.googleusercontent.com/a-/AAuE7mB32...,google,114149301391916461013,NaN,eTw72oBaNirbvOCMhNe0yotNwZjSUXNmhlugvdfCQJ0Pew...,2019-08-27 17:19:55,2019-08-27 17:19:55,NaN

In [24]:
notifications = 'https://raw.githubusercontent.com/Nedu/RecommenderSystemTeamJava/master/data/notifications.csv'
notificationsData = pd.read_csv(notifications)
notificationsData

,id,post_id,parent_comment_id,comment,sender_id,user_id,status,action,type,created_at,updated_at
0,1,NaN,NaN,NaN,4,7,1,Followed,Following,2019-08-26 08:43:56,2019-08-26 17:20:28
1,2,NaN,NaN,NaN,1,4,1,Followed,Following,2019-08-26 08:48:21,2019-08-26 12:05:42
2,3,NaN,NaN,NaN,3,45,0,Followed,Following,2019-08-26 08:51:39,2019-08-26 08:51:39
3,5,NaN,NaN,NaN,1,4,1,Followed,Following,2019-08-26 10:32:46,2019-08-26 12:05:42
4,7,278.0,NaN,Hey bro!,1,4,1,Commented,Post,2019-08-26 14:13:17,2019-08-26 14:13:25
...,...,...,...,...,...,...,...,...,...,...,...
185,199,999.0,NaN,NaN,1,4,1,Like,Reaction,2019-09-07 14:44:58,2019-09-07 16:48:04
186,202,1007.0,NaN,NaN,3,3,0,Like,Reaction,2019-09-07 14:45:08,2019-09-07 14:45:08
187,216,998.0,NaN,NaN,2,2,0,Like,Reaction,2019-09-07 16:33:27,2019-09-07 16:33:27
188,219,999.0,NaN,NaN,4,4,1,Like,Reaction,2019-09-07 17:11:26,2019-09-19 12:18:38
189,222,998.0,NaN,NaN,4,2,0,Love,Reaction,2019-09-07 17:11:41,2019-09-07 17:11:41

In [25]:
posts = 'https://raw.githubusercontent.com/Nedu/RecommenderSystemTeamJava/master/data/posts.csv'
postsData = pd.read_csv(posts)
postsData

,id,user_id,title,content,tags,slug,created_at,updated_at,image,status_id,action,post_id
0,1,2077,What i have learnt so far on HTML,I learnt how to use the table tag as i have us...,NaN,what-i-have-learnt-so-far-on-html-985,2019-08-25 18:39:01,2019-08-28 10:30:00,1,NaN,NaN,NaN
1,2,1719,HTML BEGINS HERE,"I am on this journey with start.ng, and here ...",Technology,html-begins-here-4d6,2019-08-25 18:44:36,2019-08-28 10:30:00,1,NaN,NaN,NaN
2,4,1310,My Laziness In The Open,I have not been attending classes on the HNG c...,NaN,my-laziness-in-the-open-029,2019-08-25 18:50:33,2019-08-28 10:30:00,1,NaN,NaN,NaN
3,6,1787,MY TASK 2,My journey on **StartNG** pre-internship progr...,NaN,my-task-2-649,2019-08-25 18:51:36,2019-08-28 10:30:00,1,NaN,NaN,NaN
4,7,167,Task 2,"A Summary on The “idongesit.html” CV, Its Str...",NaN,task-2-7e5,2019-08-25 18:51:39,2019-08-28 10:30:00,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
871,1003,45,jbhjkhkbb,jkhbjilbjhb v hvhjbv h hbv jhkv,NaN,jbhjkhkbb-748,2019-09-05 15:38:18,2019-09-05 15:38:18,NaN,NaN,publish,NaN
872,1004,3,Testing tags and really long posts,<p>Testing tags and really long posts.</p>\n<p...,"Politics, Sports",testing-tags-and-really-long-posts-38a,2019-09-06 13:39:26,2019-09-06 13:39:26,NaN,NaN,NaN,NaN
873,1005,3,Testing image,"<p>Test if image works</p>\n<p><img src=""/stor...",NaN,testing-image-5f7,2019-09-06 13:39:26,2019-09-06 13:39:26,jeff.ogah/images/img-07flurib94.png,NaN,NaN,NaN
874,1006,3,Test,"<p><img src=""/storage/jeff.ogah/images/img-x89...",NaN,test-03f,2019-09-06 13:39:26,2019-09-06 13:39:26,jeff.ogah/images/img-x89tf05exw.jpeg,NaN,NaN,NaN
875,1007,3,My first post,<p>About time I made one.</p>\n<p><strong>Bold...,NaN,my-first-post-10e,2019-09-06 13:39:26,2019-09-06 13:39:26,NaN,NaN,NaN,NaN

In [26]:
userData['InteractedPosts'] = ''
tempNotifications = notificationsData

tempNotifications['post_id'].fillna(0.0, inplace=True)
tempNotifications = tempNotifications.astype({"post_id": int})

notificationsFiltered = tempNotifications[tempNotifications.post_id != 0]
notificationsFiltered
# notificationsFiltered[notificationsFiltered == userData.id].post_id
# userData['InteractedPosts'] = notificationsFiltered[notificationsFiltered == userData.id].post_id
# userData

,id,post_id,parent_comment_id,comment,sender_id,user_id,status,action,type,created_at,updated_at
4,7,278,NaN,Hey bro!,1,4,1,Commented,Post,2019-08-26 14:13:17,2019-08-26 14:13:25
5,8,360,NaN,This is an interesting write-up. I have a ques...,3,7,1,Commented,Post,2019-08-26 17:10:20,2019-08-26 17:20:28
6,9,360,NaN,A nice write up,4,7,1,Commented,Post,2019-08-26 17:13:14,2019-08-26 17:20:28
8,11,143,NaN,I have learnt how to publish an article and Ho...,2191,2191,0,Commented,Post,2019-08-26 17:44:23,2019-08-26 17:44:23
9,12,371,NaN,That's awesome,9,3,1,Commented,Post,2019-08-26 18:15:45,2019-08-27 10:15:03
12,15,371,NaN,"wait, this works?",6,3,1,Commented,Post,2019-08-26 20:09:39,2019-08-27 10:15:03
13,16,371,NaN,uhm... not really...,6,3,1,Commented,Post,2019-08-26 20:09:58,2019-08-27 10:15:03
23,26,371,NaN,But my posts are nowhere to be found. Excellen...,489,3,1,Commented,Post,2019-08-26 20:41:27,2019-08-27 10:15:03
31,34,371,NaN,"Yay, a comment section too. Nice job",550,3,1,Commented,Post,2019-08-26 22:55:17,2019-08-27 10:15:03
35,38,439,NaN,Can't wait...wish notification is up and runni...,1340,6,1,Commented,Post,2019-08-27 00:23:31,2019-08-27 08:23:47
77,80,371,NaN,Good to see the comment section,352,3,1,Commented,Post,2019-08-27 08:43:48,2019-08-27 10:15:03
116,119,375,NaN,Great,352,3,1,Commented,Post,2019-08-27 09:54:36,2019-08-27 10:15:03
129,132,439,NaN,Congrats,4,6,0,Commented,Post,2019-08-27 12:23:55,2019-08-27 12:23:55
131,134,439,NaN,Congratulations are in order. It's great to be...,3,6,0,Commented,Post,2019-08-27 12:31:32,2019-08-27 12:31:32
141,144,360,8.0,yh,4,3,1,Replied,Post,2019-08-27 15:32:51,2019-08-29 12:40:03
144,148,986,NaN,NaN,4,2,1,Like,Reaction,2019-08-30 10:26:54,2019-08-31 18:01:30
145,149,986,NaN,NaN,4,2,1,Love,Reaction,2019-08-30 10:27:06,2019-08-31 18:01:30
146,150,985,NaN,NaN,4,2,1,Love,Reaction,2019-08-30 10:27:08,2019-08-31 18:01:30
147,151,985,NaN,NaN,1,2,1,Love,Reaction,2019-08-30 10:29:21,2019-08-31 18:01:30
148,152,992,NaN,NaN,2,2,1,Like,Reaction,2019-08-31 12:04:31,2019-08-31 18:01:30
149,154,355,NaN,NaN,1,7,0,Like,Reaction,2019-08-31 17:21:21,2019-08-31 17:21:21
150,155,353,NaN,NaN,1,7,0,Love,Reaction,2019-08-31 17:21:24,2019-08-31 17:21:24
151,156,355,154.0,Nice,1,1,1,Replied,Post,2019-08-31 17:21:51,2019-09-07 14:44:46
152,157,996,NaN,NaN,1,1,1,Like,Reaction,2019-08-31 17:44:12,2019-09-07 14:44:46
153,158,992,NaN,NaN,9,2,1,Love,Reaction,2019-08-31 17:56:21,2019-08-31 18:01:30
154,159,992,NaN,NaN,9,2,1,Love,Reaction,2019-08-31 17:56:22,2019-08-31 18:01:30
155,160,992,NaN,NaN,9,2,1,Like,Reaction,2019-08-31 17:56:22,2019-08-31 18:01:30
156,161,992,NaN,"Comments just spilled out here, nobody typed",9,2,1,Commented,Post,2019-08-31 17:56:53,2019-08-31 18:01:30
157,162,992,NaN,NaN,2,2,1,Love,Reaction,2019-08-31 18:02:26,2019-09-02 04:42:11
158,163,992,NaN,that true,2,2,1,Commented,Post,2019-08-31 18:03:03,2019-09-02 04:42:11
160,171,993,NaN,NaN,34,2,1,Love,Reaction,2019-09-01 13:33:20,2019-09-02 04:42:11
161,172,993,NaN,NaN,34,2,1,Like,Reaction,2019-09-01 13:33:23,2019-09-02 04:42:11
162,173,996,NaN,NaN,3,1,1,Like,Reaction,2019-09-01 17:29:55,2019-09-07 14:44:46
163,174,996,NaN,NaN,3,1,1,Love,Reaction,2019-09-01 17:29:57,2019-09-07 14:44:46
164,175,998,NaN,NaN,9,2,1,Like,Reaction,2019-09-02 15:56:51,2019-09-02 16:38:17
165,177,998,NaN,NaN,3,2,1,Love,Reaction,2019-09-03 02:25:12,2019-09-04 13:29:22
166,178,995,NaN,NaN,3,1,1,Love,Reaction,2019-09-03 02:25:57,2019-09-07 14:44:46
167,179,998,NaN,i wish there was smthn better,2,2,1,Commented,Post,2019-09-04 13:37:44,2019-09-07 14:44:55
168,180,999,NaN,Good,4,4,1,Commented,Post,2019-09-05 10:24:34,2019-09-05 16:20:09
169,181,998,NaN,Test,3,2,1,Commented,Post,2019-09-05 11:37:26,2019-09-07 14:44:55
170,182,998,NaN,Another test,3,2,1,Commented,Post,2019-09-05 11:37:34,2019-09-07 14:44:55
171,183,993,NaN,Hi,2,2,1,Commented,Post,2019-09-05 12:50:42,2019-09-07 14:44:55
172,184,998,NaN,all set,2,2,1,Commented,Post,2019-09-05 16:16:13,2019-09-07 14:44:55
173,185,1007,NaN,test,3,3,0,Commented,Post,2019-09-06 18:40:19,2019-09-06 18:40:19
174,186,1007,NaN,testt,3,3,0,Commented,Post,2019-09-06 18:40:24,2019-09-06 18:40:24
175,187,1007,186.0,test,3,3,0,Replied,Post,2019-09-06 18:40:29,2019-09-06 18:40:29
176,188,1007,186.0,testr,3,3,0,Replied,Post,2019-09-06 18:40:38,2019-09-06 18:40:38
177,189,998,182.0,Oya tester,4,3,0,Replied,Post,2019-09-07 09:33:29,2019-09-07 09:33:29
178,190,1002,NaN,just some funny comment,22,22,0,Commented,Post,2019-09-07 09:43:20,2019-09-07 09:43:20
179,191,1002,190.0,I just replied you,22,22,0,Replied,Post,2019-09-07 09:43:38,2019-09-07 09:43:38
180,193,993,NaN,NaN,4,2,1,Like,Reaction,2019-09-07 14:30:13,2019-09-07 14:44:55
181,194,983,NaN,NaN,4,2,1,Like,Reaction,2019-09-07 14:30:15,2019-09-07 14:44:55
182,195,983,NaN,NaN,4,2,1,Love,Reaction,2019-09-07 14:30:16,2019-09-07 14:44:55
183,197,985,NaN,NaN,2,2,1,Like,Reaction,2019-09-07 14:30:25,2019-09-07 14:44:55
184,198,985,NaN,NaN,2,2,1,Love,Reaction,2019-09-07 14:30:26,2019-09-07 14:44:55
185,199,999,NaN,NaN,1,4,1,Like,Reaction,2019-09-07 14:44:58,2019-09-07 16:48:04
186,202,1007,NaN,NaN,3,3,0,Like,Reaction,2019-09-07 14:45:08,2019-09-07 14:45:08
187,216,998,NaN,NaN,2,2,0,Like,Reaction,2019-09-07 16:33:27,2019-09-07 16:33:27
188,219,999,NaN,NaN,4,4,1,Like,Reaction,2019-09-07 17:11:26,2019-09-19 12:18:38
189,222,998,NaN,NaN,4,2,0,Love,Reaction,2019-09-07 17:11:41,2019-09-07 17:11:41

In [67]:
# notificationData['Ratings'] = notificationData['action'].apply(lambda x: action_rating[x])

# notificationData.head()

# from notifications.csv there are 5 reactions
event_type_strength = {
    'Followed': 1,
    'Like': 3,
    'Love': 4,
    'Commented': 5,
    'Replied': 4
}
notificationsData['eventStrength'] = notificationsData['action'].apply(lambda x: event_type_strength[x])
users_interactions_count_df = notificationsData.groupby(['user_id', 'post_id']).size().groupby('user_id').size()
x = (notificationsData[['user_id','post_id','eventStrength']].sort_values(by='user_id', axis= 0, ascending= True))

users_with_enough_interactions_df = users_interactions_count_df[users_interactions_count_df >= 2].reset_index()[['user_id']]

interactions_from_selected_users_df = notificationsData.merge(users_with_enough_interactions_df, how='right',
                                                            left_on='user_id', right_on='user_id')


def smooth_user_preference(x):
    return math.log(1 + x, 2)


interactions_full_df = interactions_from_selected_users_df \
    .groupby(['user_id', 'post_id'])['eventStrength'].sum() \
    .apply(smooth_user_preference).reset_index()
interactions_full_df['eventStrength'] = interactions_full_df['eventStrength'].astype(int)
# interactions_full_df['post_id'] = interactions_full_df['post_id'].astype(int)
# print(interactions_full_df)

item_popularity_df = interactions_full_df.groupby('post_id')['eventStrength'].sum().sort_values(ascending=True).reset_index()
# print(item_popularity_df.head(10))

item_popularity_df
x['post_id'] = x['post_id'].astype(int)
x = x[x['post_id'] != 0]
x

     user_id  post_id  eventStrength
166        1      995              4
163        1      996              4
151        1      355              4
152        1      996              3
162        1      996              3
189        2      998              4
165        2      998              4
164        2      998              3
161        2      993              3
160        2      993              4
158        2      992              5
157        2      992              4
156        2      992              5
155        2      992              3
154        2      992              4
153        2      992              4
148        2      992              3
147        2      985              4
145        2      986              4
144        2      986              3
167        2      998              5
169        2      998              5
146        2      985              4
170        2      998              5
184        2      985              4
183        2      985              3
182        2      983              4
181        2      983              3
180        2      993              3
187        2      998              3
171        2      993              5
172        2      998              5
31         3      371              5
175        3     1007              4
116        3      375              5
186        3     1007              3
77         3      371              5
23         3      371              5
9          3      371              5
173        3     1007              5
12         3      371              5
13         3      371              5
174        3     1007              5
177        3      998              4
176        3     1007              4
141        3      360              4
188        4      999              3
4          4      278              5
185        4      999              3
168        4      999              5
131        6      439              5
129        6      439              5
35         6      439              5
5          7      360              5
6          7      360              5
149        7      355              3
150        7      353              4
179       22     1002              4
178       22     1002              5
8       2191      143              5

In [68]:
x.to_csv('ratings.csv', index=None)

In [42]:
item_popularity_df.to_csv('popularPosts.csv', index=None)